<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yazan98.groupyadmin">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_team"
        android:label="@string/app_name"
        android:name=".GroupyApp"
        android:roundIcon="@drawable/ic_team"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".screens.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".screens.RegisterScreen" />
        <activity android:name=".screens.LoginScreen" />
        <activity android:name=".screens.MainScreen"/>
        <activity android:name=".screens.SubmitIdeaScreen"/>
        <activity android:name=".screens.IdeasScreen" />
        <activity android:name=".screens.ProfileScreen" />
        <activity android:name=".screens.SearchGroupScreen" />
        <activity android:name=".screens.HomeScreen" />
        <activity android:name=".screens.TasksContainerScreen"/>
        <activity android:name=".screens.NewTaskScreen" />
        <activity android:name=".screens.ExternalProfileScreen" />
    </application>

</manifest>